{% extends 'base.html' %}

{% block content %}
<body style="text-align:center ; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; padding: 20px;">

    <div class="flex-container-h">
    <div>
        <br>
    
    <h1 style= "color:forestgreen">My Pink Floyd Website </h1>

<br>
    <div class="flex-container-h">
    <link rel="static" href="{{url_for('static',filename = 'animals pink floyd album cover.jpg')}}">
    <link rel="static" href="{{url_for('static',filename = 'wish you were here album cover.jpg')}}">
    <link rel="static" href="{{url_for('static',filename = 'catalogue album cover.jpg')}}">
    <link rel="static" href="{{url_for('static',filename = 'the division bell cover.jpg')}}">
    <link rel="static" href="{{url_for('static',filename = 'sleeve image for wish you were here.jpg')}}">
    <link rel="static" href="{{url_for('static',filename = 'dave gilmour in the 70s at front.jpg')}}">

<img src="{{url_for ('static',filename = 'the wall album cover.jpg')}} "> 

<br>
    
    <h1 style="color:lawngreen" > Welcome, I have put together some knowledge with some accompanying pictures </h1>


    <br>

    <div class="main-box">
    
    <div class="flex-container-h2">
    
    <img src="{{url_for ('static',filename = 'image pink floyd 1970s.jpg')}} ">
    
    <br>
    
    <p id="intro-text"> "I have chosen my topic to be about the great pink floyd.
        The unique band". They began their journey which started in london in the year of 1965
    they had a new sound then which was described as psychedelic.</p>
    

    <img src="{{url_for ('static',filename = 'what the band looks like now.jpg')}} ">

<br>

    <p>In the first picture you will notice 5 memebers, but as they grew sadly now there are only 4 members of Pink Floyd as Syd Barrett passed away in 2006 at the age of 60</p>
    

    <p class="pink floyd images " id="showsimage"></p>

    
</div>
</div>

<br>
<br>

<div class="main-box">

<p class="example-text" id="cookie"></p>
</div>

<br>
<br>

<div class="main-box">

<!-- <div class="flex-container-h3">
    <div onmouseover="mOver(this)" onmouseout="mOut(this)" class="the wall album cover.jpg">
    </div>
    <div onmouseover="mOver(this)" onmouseout="mOut(this)" class="the division bell cover.jpg">
    </div>
    <div onmouseover="mOver(this)" onmouseout="mOut(this)" class="what the band looks like now.jpg">
    </div>
</div>
</div>

<br>
<br>

<div class="main-box">

    <p class="main-text"></p>
    <a></a>

    </div> -->

    <br>
    <br>

    </div>
    </div>
{% endblock %}
    
</body>
</html>