{% extends 'base.html' %}

{% block content %}
<img src="{{url_for ('static',filename = 'the division bell cover.jpg')}} ">

    <p>'A conversation between Roger Waters and Nick again, 'Nick says''I want to ask you about your own song writing. Do you work at it? Do you sit down and think:- Ah! today i will write a song?'.
        Roger replies 'Sometimes i do. Sometimes i think RIGHT!, and go and pick up a guitar and occasionally it works out. Usually something just flashes into my mind and i think,well, i better write this down and then i go pick up the guitar its usually a phrase or word or a thought even a idea. Once you've got five words or a series of words that 
    can contain a idea... like "come in here, dear boy" then from that point onit becomes quite easy - or it does to do the one verse' the difficult bit is writing one verse then another and another
'when the first was so easy'.</p>
<img src="{{url_for ('static',filename = 'band member.jpg')}} "width= "250" height= "200">
<br>
<img src="{{url_for ('static',filename = 'drummer.jpg')}} "width= "250" height= "200">
<br>
<img src="{{url_for ('static',filename = 'keyboard.jpg')}} "width= "250" height= "200">
<p>Theese pictures above are some of the ones i got out of my  tablature book enjoy!</p>
{% endblock %}