{% extends 'base.html' %}

{% block content %}

<body style="text-align:center;font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;padding: 20px; ">
<h1 style=" color:cornflowerblue">Dark Side of the Moon</h1>
<br>

<P>Darkside of the moon was released in 1973, 
    it is a conceptual album they even had to make instrumens to make the sounds no one had ever heard before.
    this would of been what Nick sedgewick would of seen the rubber bands and bottles</P>


<img src="static/dark side of the moon.jpg" alt="darkside if the moon album cover">

<br>

    <p>During development of the sleeve artwork the designer Storm Thorgsen spent months on elaborate collages and graphics 
        only to be cast aside for a filler picture to be featured which we know today as the prism</p>
    
        <br>
<p>Dark Side of the Moon spent 14 years on the american billboard charts.
and it only has 9 songs.</p>
</body>
{% endblock %}