{% extends 'base.html' %}

{% block content %}

<img src="{{url_for ('static',filename = 'catalogue album cover.jpg')}} ">

<p> This is a picture i got from google images it is a painting of the lady that is painted for all
    the album covers this is known as the catalogue picture it is fasioned in many ways from paintings to actual real ladys
    being painted for pictures here i have included below a picture from my own collection of the ladies that are painted as the catalogue of album covers.
</p>
<br>

<img src="{{url_for ('static',filename = 'catalogue ladys.jpg')}} "width = "250" height= 200>
<p> As you can see they really do vary from painting to picture i have seen this design also on a cup.</p>
        
{%endblock %}