{% extends 'base.html' %}

{% block content %}

<body> 
    <div class="main-box">
        <br>
        <button onclick="darkMode()">Darkmode</button>
        <br>
    <h1 class= "wish-header">Wish You Were Here Page</h1>
    
    <br>
    
    <br>
        
            This is the album cover for wish you were here.
        
            <br>
            <img src="{{url_for ('static',filename = 'wish you were here album cover.jpg')}} ">

<br>

<h1 class="wishyou-header">"Wish You Were Here" was made in 1975</h1>

<br>

        <p>A rambling conversation snippets between Nick Sedgewick and Mr Roger Waters.. N.S says 'Heres a good one to start with Roger why was it two years before Pink Floyd made a album after Dark side of the moon?'
            R.W replies 'That is a very good question i'm very glad you asked me that one...er. Without looking at diaries it is difficult.
            i'm trying to remember whatever went on..I'm not being funny , I honestley can't remember why it was 1973 when Dark Side of the Moon came out wasn't it?. January 1973 and we're in Oct.'75'so in the January we began recording 'Wish You Were Here'..Nick says ' I remeber I went to the 'E.M.I'studios in the winter of '74' and the band were recording stuff
            with bottles and rubber bands.. the period i'm talking about is the one before your french tour in June '74' R.W.. 'Ah! right yeah 'Well Nick, there was an abortive attempt to make a album not using any musical instruments it seemed
            like a good idea at the time, But it didn't really come together probably because we needed to stop for a bit. 
            N.S says ' why go on to get off the road? and have some breathing space?'
            R.W then replies' Yeah, But I don't think it was a conscious as that really. I think it was that when Dark Side of the Moon was so successful, it was the end. End of the road if you like we had reached the point we had been trying to achieve since we were all teenagers. 
            nd we felt there was nothing more we could do in rock and roll.
        </p> 
    
        <br>
    
    <a>Inside sleeve for the Wish You Were Here album</a>

<br>
        <img src="{{url_for ('static',filename = 'sleeve image for wish you were here.jpg')}} ">
</div>
</body>







{% endblock %}