{% extends 'base.html' %}

{% block content %}
<body style="text-align:center;font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; padding: 20px;">

<h1 style=" color: rgb(10, 9, 8)" >This page has the catalogue girls on</h1><h1 ></h1>


<img src="{{url_for ('static',filename = 'catalogue album cover.jpg')}} ">

<br>

<p> This is a picture I got from google images it is a painting of the lady that is painted for all
    the album covers this is known as the catalogue picture it is fasioned in many ways from paintings to actual real lady's
    being painted for pictures here I have included below a picture from my own collection of the ladies that are painted as the catalogue of album covers.
</p>

<br>

<h2 style="color:indigo">Here we have more of my own pictures.</h2>

<br>

<img src="{{url_for ('static',filename = 'catalogue ladys.jpg')}} "width = "250" height= 200>

<br>

<p> As you can see they really do vary, From painting to picture I have seen this design also on a cup.</p>

{%endblock %}