
{% extends 'base.html' %}

{% block content %}
<h1>page1 </h1>
> <a href= "{{url_for('my_view.index')}}"><h2>home</h2></a>
<p>pink floyd featured here from the 1960's are a psychedelic sounding progressive rock band.they had similiar sales of adoration for their next coming album wish you were here roger water were taking over the band and insisted to take the song writing too.,
    They sold 45 millon copies of darkside of the moon featured on page 2.They acheived their first number one album in 1973 which went on to sell the 45 million copies world wide</p>
<img src="static/image pink floyd 1970's.jpg" alt="this is pink floyd in the 1960's">;
{% endblock %}